<%= form_tag('/majors', :method => :get) do %>
  <p><%= text_field_tag :keyword, params[:keyword], placeholder: "输入专业名称" %></p>
  <p><%= college_type_filters %></p>
  <p><%= parent_major_filters %></p>
  <%= submit_tag '搜索', class: :btn %>
<% end %>