<%= render :partial => "search_filters" %>

<% if has_size?(@majors) %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>专业层次</th>
        <th>专业分类</th>
        <th>专业名称</th>
        <th>专业代号</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @majors.each do |major| %>
        <tr>
          <td><%= major.id %></td>
          <td><%= major.college_type %></td>
          <td><%= major.parent_name %></td>
          <td><%= major.name %></td>
          <td><%= major.code %></td>
          <td><%= link_to "查看", major_path(major.id), class: 'btn', target: "_blank" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= chinese_pagination @majors %>
<% end %>