<%= form_tag('/admin/schools', :method => :get) do %>
  <p><%= text_field_tag :keyword, params[:keyword], placeholder: "输入院校名称" %></p>
  <p><%= province_filters %></p>
  <p><%= professional_type_filters %></p>
  <%= submit_tag '搜索', class: :btn %>
<% end %>