<br/>
<h3>热门高校</h3>
<div class="row demo-tiles">
  <% if has_size?(@schools) %>
    <% @schools.each_with_index do |school, index| %>
      <div class="span220">
        <div class="tile <%= "tile-hot" if index == 0 %>">
          <a href="/schools/<%= school.id %>"><img src="<%= school.school_avatar.photo_url %>" alt="Compas@2x" class="tile-image big-illustration"></a>
          <h3 class="tile-title"><%= school.real_name %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<h3>热门专业</h3>
<div class="row demo-tiles">
  <% if has_size?(@majors) %>
    <% @majors.each_with_index do |major, index| %>
      <div class="span220">
        <div class="tile <%= "tile-hot" if index == 4 %>">
          <a href="/majors/<%= major.id %>"><img src="/assets/flatui/icons/<%=major_icon(index)%>" alt="icon" class="tile-image big-illustration"></a>
          <h3 class="tile-title"><%= major.name %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>