<h1>学校列表</h1>

<%= render :partial => "search_filters" %>

<% if has_size?(@schools) %>

  <%= chinese_pagination @schools %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>省份</th>
        <th>学校名称</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @schools.each do |school| %>
        <tr>
          <td><%= school.id %></td>
          <td><%= school.province_name %></td>
          <td><%= school.real_name %></td>
          <td><%= link_to "查看", school_path(school.id), class: 'btn', target: "_blank" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= chinese_pagination @schools %>
<% end %>

<%= link_to "查看学校关注", school_follows_path, class: 'btn', target: "_blank" %>